/* PC */
@media screen and (min-width: 992px) {
    .header-mobile {
        display: none;
    }
    .only_mobile {
        display: none;
    }
}

/* Tablet and mobile */
@media screen and (max-width: 991px) {
    .header .nav {
        display: none;
    }

    .header .body {
        position: relative;
    }

    .header .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .header .action {
        margin-left: auto;
        margin-bottom: 20px;
    }

    .header .toggle-menu {
        width: 30px;
        margin-bottom: 26px;
        color: #666;
    }

    .header-mobile .menu-overlay {
        inset: 0 0 0 0;
        position: fixed;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: .5s ease;
    }

    .header-mobile .menu-drawer {
        position: fixed;
        inset: 0 30% 0 0;
        background: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: 0.5s ease;
        padding: 60px;
    }

    .header-mobile .menu-drawer .logo {
        /* width: 123px;
        height: 25.5px; */
        width: 164px;
        height: 34px;
    }

    .header-mobile .menu-drawer ul {
        margin-top: 60px;
    }

    .header-mobile .menu-drawer ul li a {
        font-size: 2.3rem;
        font-weight: 500;
        color: #000;
        margin: 40px 0;
        display: block;
    }

    .menu-checkbox:checked~.menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked~.menu-drawer {
        transform: translateX(0);
    }

    .hero .hero_left .images {
        width: 313px;
        height: 456px;
    }

    .hero .hero_left .stats {
        bottom: 76px;
        right: -27px;
    }

    .hero_right .heading {
        font-size: 3rem;
    }

    .hero_right .desc {
        font-size: 1.3rem;
    }

    .hero_right .row {
        flex-direction: column;
        gap: 20px;
    }

    .hero_right .row .watch {
        margin-left: -28px;
    }

    .hero_right .block strong:last-child {
        margin-left: 0;
        display: inline-block;
        margin-top: 15px;
    }

    .course .box {
        padding: 120px 0;
    }

    .course .list {
        flex-wrap: wrap;
    }

    .course .item {
        width: 70%;
        flex: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .course .item .images {
        width: 520px;
    }

    .feedback .box .student .name {
        font-size: 2.2rem;
    }

    .feedback .box .feedback_block {
        margin-top: 30px;
    }

    .feedback .box .feedback_block .comment {
        width: 500px;
        font-size: 1.9rem;
    }

    .overview .box_1 {
        margin-top: 100px;
    }

    .overview .box_1 img {
        width: calc(270px / 1.5);
        height: calc(405px / 1.5);
    }

    .overview .box_1 img:first-child {
        height: calc(405px / 1.5);
        margin-top: 100px;
    }

    .overview .box_1 .text_block {
        margin-left: 50px;
    }

    .overview .box_1 .text_block .title {
        font-size: 3rem;
    }

    .overview .box_1 .text_block .sub_title {
        font-size: 1.3rem;
    }

    .overview .box_1 .text_block p {
        font-size: 1.3rem;
    }

    .overview .box_2 .text_block .title {
        font-size: 3rem;
    }

    .overview .box_2 .text_block .subtitle {
        font-size: 1.3rem;
    }

    .blog .body .list {
        flex-direction: column;
    }

    .blog .body .item {
        flex: 0;
        width: 520px;
        margin-left: auto;
        margin-right: auto;
    }

    .blog .body .item img {
        width: 520px;
    }

    .blog .body .item .info_block .important_text {
        font-size: 1.5rem;
    }

    .footer .box {
        flex-wrap: wrap;
        row-gap: 70px;
    }

    .footer .box .columns:nth-child(2) {
        margin-right: 130px;
    }

    .footer .box .columns:nth-child(3) {
        margin-left: 0;
        margin-right: 130px;
    }

    .footer .box .columns:last-child {
        margin-left: 130px;
    }

    .footer .full_line {
        width: 100%;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .only_mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .header-mobile .menu-drawer {
        padding: 40px;
    }
    .header-mobile .menu-drawer ul li a {
        margin: 25px 0;
    }
    .only_mobile {
        border-top: 1px solid #666;
    }
    .header-btn {
        display: none;
    }
    .hero .body {
        flex-direction: column;
    }
    .hero .hero_left .stats {
        right: -182px;
        bottom: 39px;
    }
    .hero_right {
        padding-left: 0;
        width: 100%;
    }
    .hero_right .heading {
        font-size: 4.6rem;
        text-align: center;
    }
    .hero_right .desc_1{
        text-align: center;
    }
    .hero_right .row .action, 
    .hero_right .row .watch {
        margin-left: auto;
        margin-right: auto;
    }
    .hero_right .row .watch .button {
        margin-left: 0;
    }
    .hero_right .block .desc_2 strong {
        font-size: 6.1rem;
    }
    .course .heading {
        flex-wrap: wrap;
    }
    .course .heading .sub_title {
        width: 90%;
    }
    .course .heading .columns_2 {
        margin: 20px auto;
    }
    .course .heading .navigation:first-child {
        margin-left: 0;
    }
    .course .list {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .course .item {
        width: 90%;
    }
    .course .item .images {
        width: 100%;
    }
    .feedback .box .feedback_block .comment {
        width: 100%;
    }
    .overview .box_2,
    .overview .box_1 {
        flex-direction: column;
        margin-top: 80px;
    }
    .overview .box_1 img {
        width: 100%;
        margin: 20px auto;
    }
    .overview .box_1 img:nth-child(2) {
        display: none;
    }
    .overview .box_1 .text_block {
        margin-left: 0;
    }
    .overview .box_2 .text_block {
        width: 100%;
    }
    .overview .box_2 img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
    }
    .blog .body .item {
        width: 90%;
    }

    .blog .body .item img {
        width: 100%;
    }
    .blog .heading .sub_title {
        width: 250px;
    }
    .footer .box .columns, 
    .footer .box .brand_info_block, 
    .footer .box .columns:last-child {
        margin-left: 0;
        margin-right: 0;
    }
    .footer .end_footer {
        font-size: 1.2rem;
        width: 306px;
    }
}