* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --font-heading: "Sen", sans-serif;
}

/* Common */
a {
    text-decoration: none;
}

.content {
    width: 1170px;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 30px;
}

.line_clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 4);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.btn {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    display: inline-block;
    /* height: 50px; */
    border-radius: 24px;
    background: #171100;
    padding: 11px 42px;
}

.btn:hover {
    opacity: 0.8;
}

/* ----------- Header ----------- */
.header {
    background: #FFFCF4;
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
    padding-top: 38px;
    padding-bottom: 10px;
}

.header .logo {
    margin-right: auto;
}

.header .nav {
    margin-left: auto;
}

.header .nav .list {
    display: flex;
}

.header .nav .item a {
    color: #5F5B53;
    padding: 8px 21px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    position: relative;
}

.header .nav .active a,
.header .nav .item a:hover {
    color: #171100;
    font-size: 1.6rem;
    text-shadow: 1px 0 0 currentColor;
}

.header .nav .active a::after {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    display: block;
    position: absolute;
    left: 21px;
}

.header .action {
    margin-left: calc(70px - 42px);
}

/* ----------- Hero ----------- */
.hero {
    background: #FFFCF4;
    padding-top: 54px;
    padding-bottom: 65px;
}

.hero .body {
    display: flex;
}

.hero_left {
    width: 48%;
    position: relative;
}

.hero .hero_left .images {
    display: inline-block;
    width: 470px;
    height: 685px;
    border-radius: 20px;
    object-fit: cover;
}

.hero_left .stats {
    border-radius: 12px;
    width: 270px;
    height: 244px;
    padding: 24px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
    position: absolute;
    bottom: 48px;
    right: 0;
    background: #FFF;
}

.hero_left .stats_item {
    display: flex;
    align-items: center;
    margin-top: 14px;
}

.hero_left .stats_item:first-child {
    margin-top: 0;
}

.hero_left .stats_item .text {
    margin-left: 16px;
}

.hero_left .stats_item .sub_title {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.hero_left .stats_item .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.66;
}

.hero_right {
    width: 52%;
    padding-left: 130px;
}

.hero_right .heading {
    margin-top: 64px;
    color: #171100;
    font-family: var(--font-heading);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero_right .desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
    margin-top: 22px;
}

.hero_right .row {
    display: flex;
    margin-top: 38px;
    /* align-items: center; */
}

.courses_btn {
    background: #FFB900;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    padding: 16.25px 34px;
    border-radius: 32px;
}

.hero_right .row .watch {
    display: flex;
    align-items: center;
}

.hero_right .row .watch .button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
    background: #FFF;
    margin-left: 28px;
}

.hero_right .row .watch .labels {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    margin-left: 14px;
}

.hero_right .block {
    margin-top: 48px;
}

.hero_right .block .desc_2 {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 8px;
}

.hero_right .block strong {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 4.4rem;
    font-weight: 700;
    margin-right: 14px;
}

.hero_right .block strong:last-child {
    margin-left: 28px;
}

/* ----------- Courses ----------- */
.course .box {
    padding: 200px 0;
}

.course .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course .heading .title {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: -0.76px;
}

.course .heading .sub_title {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    width: 458px;
    margin-top: 16px;
}

.course .heading .columns_2 {
    display: flex;
}

.course .heading .navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border: 1px solid #FFB900;
    color: #FFB900;
    border-radius: 50%;
    margin-left: 18px;
}

.course .heading .navigation:hover {
    color: #FFF;
    background: #FFB900;
}

.course .body {
    margin-top: 55px;
}

.course .list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.course .item {
    flex: 1;
    background: #fff;
    border: 1px solid #E2DFDA;
    border-radius: 12px;
}

.course .item:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.course .item .images {
    display: inline-block;
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.course .item_content {
    padding: 16px 22px 22px 22px;
    border-style: solid;
}

.course .item_content .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .item_content .title {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.course .item_content .stars {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course .item_content .stars .num_of_star {
    color: #FEA31B;
    font-size: 1.6rem;
    font-weight: 400;
    margin-left: 6px;
}

.course .desc {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    margin-top: 6px;
}

.course .row:last-child {
    margin-top: 12px;
}

.course .row strong {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
}

.course_btn {
    padding: 11px 24.3px;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 25px;
}

.course_btn:hover {
    background: #FFB900;
    opacity: 1;
}

/* ----------- feedback ----------- */
.feedback {
    background: #2E2100;
}

.feedback .box {
    padding: 96px 0;
    display: flex;
}

.feedback .box .student {
    width: 16%;
}

.feedback .box .student img {
    display: inline-block;
    height: 72px;
    width: 72px;
    object-fit: cover;
    border-radius: 50%;
}

.feedback .box .student .name {
    color: #F7F7F7;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    margin-top: 18px;
    line-height: 1.42;
}

.feedback .box .student .user {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 4px;
    line-height: 1.85;
}

.feedback .box .student .list {
    margin-top: 28px;
}

.feedback .box .student a {
    display: inline-block;
    height: 6px;
    width: 6px;
    background: #634700;
    border-radius: 50%;
    margin-left: 6px;
}

.feedback .box .student a:first-child {
    margin-left: 0;
    background: #FFB900;
}

.feedback .box .feedback_block {
    width: 66%;
    margin-left: calc(100% - 66% - 16%);
}

.feedback .box .feedback_block .comment {
    color: #FFF;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.53;
    width: 740px;
    margin-left: auto;
}

/* ----------- Overview ----------- */
.overview .box_1 {
    margin-top: 200px;
    display: flex;
}

.overview .box_1 img {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}

.overview .box_1 img:first-child {
    height: 404px;
    margin-top: 34px;
    margin-right: 30px;
}

.overview .box_1 .text_block {
    margin-left: 130px;
}

.overview .box_1 .text_block .title {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
    margin-top: 50px;
}

.overview .box_1 .text_block p {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.overview .box_1 .text_block .sub_title {
    margin-top: 10px;
}

.overview .box_1 .text_block .desc {
    margin-top: 16px;
}

.overview .overview_btn {
    margin-top: 32px;
    background: #FFB900;
    border-radius: 26px;
    padding: 11px 37.79px;
}

.overview .join_btn:last-child {
    padding: 11px 31.69px;
    margin-top: 32px;
    background: #FFB900;
    border-radius: 26px;
}

.overview .box_2 {
    margin: 200px 0;
    display: flex;
}

.overview .box_2 .text_block {
    width: 570px;
}

.overview .box_2 .text_block .title {
    color: #171100;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
    margin-top: 71px;
}

.overview .box_2 .text_block .subtitle {
    color: #5F5B53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 16px;
}

.overview .box_2 img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
    margin-left: 130px;
}

/* ----------- Blog ----------- */
.blog {
    background: #FFFCF4;
}

.blog .heading {
    padding-top: 96px;
    text-align: center;
}

.blog .heading .title {
    color: #130606;
    font-family: var(--font-heading);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.blog .heading .sub_title {
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 16px;
    width: 448px;
    margin-left: auto;
    margin-right: auto;
}

.blog .body .list {
    display: flex;
    gap: 30px;
    margin-top: 55px;
}

.blog .body .item {
    flex: 1;
    border-radius: 16px;
    background: #fff;
}

.blog .body .item:hover {
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.blog .body .item img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}

.blog .body .item .datetime {
    display: flex;
    align-items: center;
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.blog .body .item .datetime .circle {
    width: 6px;
    height: 6px;
    display: inline-block;
    background: #FFB900;
    border-radius: 50%;
    margin-right: 4px;
}

.blog .body .item .line {
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #E2DFDA;
    margin-top: 12px;
}

.blog .body .item .info_block {
    padding: 20px 20px 28px 20px;
}

.blog .body .item .info_block .important_text {
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    display: inline-block;
    margin-top: 12px;
}

.blog .body .item .action {
    margin-top: 12px;
}

.blog .body .item .blog_btn {
    font-size: 1.4rem;
    height: 50px;
    width: 118px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0;
}

.blog .body .item .blog_btn:hover {
    background-color: #FFB900;
}

.blog .tab {
    margin-top: 36px;
    padding-bottom: 96px;
    display: flex;
    width: 30px;
    gap: 6px;
    margin-left: auto;
    margin-right: auto;
}

.blog .tab .circle {
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #5F5B53;
}

.blog .tab .circle:nth-child(2) {
    background: #FFB900;
}

/* ----------- Footer ----------- */
.footer {
    background: #2E2100;
}

.footer .box {
    display: flex;
    padding-top: 96px;
}

.footer .box .brand_info_block .logo_brand {
    color: #FFF;
    font-family: var(--font-heading);
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41;
}

.footer .box .brand_info_block .logo_brand span {
    color: #FFB900;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px;
}

.footer .box .brand_info_block .desc {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    width: 267px;
    margin-top: 18px;
}

.footer .box .brand_info_block .logo_block {
    margin-top: 18px;
}

.footer .box .brand_info_block .logo_block .logo {
    display: inline-block;
    width: 15px;
    height: 15px;
    color: #FFf;
    margin-left: 17px;
}

.footer .box .brand_info_block .logo_block .logo:first-child {
    margin-left: 0;
}

.footer .box .columns .heading {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}

.footer .box .columns .line {
    width: 130px;
    height: 1px;
    background: #59554B;
    margin-top: 14px;
}

.footer .box .columns {
    margin-left: 130px;
}

.footer .box .columns:first-child {
    margin-left: 145px;
}

.footer .box .columns:last-child {
    margin-left: 137px;
}

.footer .box .columns .list .item a,
.footer .box .columns .info a {
    color: #BFBCB2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
.footer .box .columns .list .item,
.footer .box .columns .info {
    margin-top: 12px;
}
.footer .box .columns .list .item:first-child,
.footer .box .columns .first{
    margin-top: 28px;
}

.footer .box .columns .info {
    width: 231px;
}

.footer .box .columns .info strong {
    font-weight: 600;
    color: #fff;
}

.footer .full_line {
    width: 1170px;
    height: 1px;
    background: #59554B;
    margin-top: 38px;
}

.footer .end_footer {
    width: 357px;
    color: #807D74;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    margin-top: 28px;
    padding-bottom: 28px;
    margin-left: auto;
    margin-right: auto;
}